.button,
a.button {
	font-size:20px;
	font-family:@subtitle;
	text-transform: uppercase;
    color: #fff;
	padding: 10px 15px;
	margin: 20px auto !important;
	background-color: @red;
	border-radius: 2px;
	&:hover {
		background-color: lighten(@red, 10%);
		color: #eee;
	}
	&:active {
		background-color: @red;
		color: #fff;
	}
}

// Primary Call to Action button
.btn-cyan {
    padding: 10px 8px;
    font-size: 15px;
    line-height: 1em;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #3FAFED;
    color: #ffffff;
    transition: background-color 0.2s ease;
}
.btn-cyan:hover {
	background-color: #1490d4;
	transition: background-color 0.2s ease;
}

// Primary Call to Action button
.btn-red {
    padding: 10px 8px;
    font-size: 15px;
    line-height: 1em;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ed1b24;
    color: #ffffff;
    transition: background-color 0.2s ease;
}
.btn-red:hover {
	background-color: #b60e16;
	transition: background-color 0.2s ease;
}