footer {
	background-color: #9EE0F7;
	border-top: 10px solid #BEECFC;
	p {color:##02394F;}
	h2 {
		font-weight:bold;
		color: #02394F;
		text-align: center;
		font-size: 32px;
		margin: 20px 0;
	}
	ul {
		padding-left: 0px;
		li {
			border-bottom: 1px solid #fff;
			text-align: center;
			list-style-type: none;
			padding-bottom: 5px;
			margin-bottom: 5px;
			font-family: @heading;
			font-size: 20px;
			font-weight:bold;
			color: #02394F;
				a:link, a:visited {
					color:#145a60;
				}
		}
	}
	form input {
		width: 260px;
		height: 30px;
	}
	@media (max-width: 991px) {
		p, form {
			text-align: center;
		}
	}
}
