// Bootstrap Navigation Overides

.navbar {
border:none;
min-height:auto;
margin:15px auto;
}
.navbar-default {
background-color: transparent;
border-color: none;
}

// Primary Navigation styles
#site-navigation {
	li.dropdown:hover {
		> ul.dropdown-menu {
			display:block; // Allows us to use hover on the dropdowns rather than click.
		}
	}
	a, .dropdown-menu a {
		color: @red;
		background-color: none;
		&:hover {
			color: #eee;
			text-decoration:none !important;
		}
	}
	.open > a {
		color:@blue !important;
		text-decoration:underline !important;
		background:none !important;
	}
	.sub-menu, .dropdown-menu {
		display:none; // Add this so our subnav doesn't display before the Bootstrap classes are added.
		border-top:none;
	}
}


#masthead {
	margin:20px auto;
	h1 {margin:0 !important;}
			.social {
				margin-bottom: 20px;
				height: 22px;
				display: block;
				.pull-right;
				margin-left: 0px;
				.sharedaddy {
					border:none;
					//hide default share this title
					.sd-title {display:none;}
					.sd-content{
						margin:15px 0 0 0 !important;
						height:22px !important;
						ul {
						margin:0px;
						height:23px;
							li {
							// font-size:40px !important;
							margin-left:3px !important;
							height:23px !important;
								a {
									margin:0px !important;
									padding:0px !important;
								}
							}
						}
					}
					//hide default share this icons
					li.share-linkedin a.sd-button > span,
					li.share-google-plus-1 a.sd-button > span,
					li.share-facebook a.sd-button > span,
					li.share-twitter a.sd-button > span {
						display:none !important;
			        }
					.share-linkedin {height:23px !important;background-image:url('../img/social-sprite.png');background-position: -116px 0px;background-repeat:no-repeat;}
					.share-google-plus-1 {height:23px !important;background-image:url('../img/social-sprite.png');background-position: -78px 0px;background-repeat:no-repeat;}
					.share-facebook {height:23px !important;background-image:url('../img/social-sprite.png');background-position: -39px 0px;background-repeat:no-repeat;}
					.share-twitter {height:23px !important;background-image:url('../img/social-sprite.png');background-position: 1px 0px;background-repeat:no-repeat;}
					.share-linkedin:hover,
					.share-google-plus-1:hover,
					.share-facebook:hover,
					.share-twitter:hover {opacity: 0.3;}
					//hide default share this border and background gradient
					a.sd-button {border:none !important; background:none;height:22px;box-shadow: none;width:23px;}
				    .sd-block {border:none;}
			    }
	    }
	#site-navigation {
		ul {
			li {
				@media ( max-width: @screen-lg ) {
					font-size: 22px;
				}
				font-family: @heading;
				text-transform: uppercase;
				font-size: 22px;
				font-weight:bold;
				margin: 0px;
				a {
					color: @red;
					padding: 12px;
				}
			}
		}
	}
}
