// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
	// Active state, and its :hover to override normal :hover
	> li {
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: @nav-tabs-active-link-hover-color;
				background-color: @nav-tabs-active-link-hover-bg;
				border: 1px solid @nav-tabs-active-link-hover-border-color;
				border-bottom-color: transparent;
				cursor: default;
			}
	}
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
	.nav-justified();
	.nav-tabs-justified();
  }
}

#masthead {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;
		#site-navigation {
			.social {
				margin-bottom: 20px;
				height: 22px;
				width: 240px;
				display: block;
				.pull-right;
				margin-left: 15px;
				.sharedaddy {
					border:none;
					//hide default share this title
					.sd-title {display:none;} 
					.sd-content{margin:0 !important;height:22px !important;
						ul {margin:0px;height:22px;
							li {margin-left:20px !important;height:23px !important;
								a {margin:0px;padding:0px !important;}
							}
						}
					}
					//hide default share this icons
					li.share-linkedin a.sd-button > span, 
					li.share-google-plus-1 a.sd-button > span, 
					li.share-facebook a.sd-button > span, 
					li.share-twitter a.sd-button > span {
						display:none;
			        	}
					.share-linkedin {background-image:url('../img/social-sprite.png');background-position: -116px 0px;background-repeat:no-repeat; }
					.share-google-plus-1 {background-image:url('../img/social-sprite.png');background-position: -78px 0px;background-repeat:no-repeat;}
					.share-facebook {background-image:url('../img/social-sprite.png');background-position: -39px 0px;background-repeat:no-repeat;}
					.share-twitter {background-image:url('../img/social-sprite.png');background-position: 1px 0px;background-repeat:no-repeat;}
					.share-linkedin:hover,						
					.share-google-plus-1:hover,
					.share-facebook:hover,
					.share-twitter:hover {opacity: 0.3;}
					//hide default share this border and background gradient
					a.sd-button {border:none !important; background:none;height:22px;box-shadow: none;width:23px;} 
				    .sd-block {border:none;}
			    }
			}
	    }
	#site-navigation {
		ul {
			li {
				@media ( max-width: @screen-lg ) {
					font-size: 22px;
				}
				font-family: @heading;
				text-transform: uppercase;
				font-size: 28px;
				margin: 0px;
				a {
					color: @blue;
					padding: 12px;
				}
			}
		}
	}
}
