body.home {

h2.subtitle {
	font-family:@subtitle !important;
	color:@blue !important;
	font-size:34px;
	line-height: 40px;
}

p.intro {
	font-size:18px;
	line-height:26px;
}

.speakerblock {
	font-family: @font;
	font-size: 14px;
	background-color: @teal;
	color:#fff;
	border-radius: 0;
}

.speaker-box-name{
	font-size:18px;
font-weight:bold;
text-transform: uppercase;
}
.speaker-box-title {
font-size:14px;
line-height: 18px;
}

.recent-posts a {
	color: @red;
	font-weight: bold;
	&:hover {
		color: lighten(@red, 10%)
	}
	.thumbnail {
		margin-bottom:5px;
	}

}

	.photo-bar {
		background-color: #3b8caa;
		position: relative;
		z-index: 0;
		.col-md-12 {
			margin-top: -109px;
			margin-top:-106px;
		}
		text-align: center;
		.call-box {
			padding: 50px 0 50px;
			// background-color: #E3FCFC;
			text-align: center;
			// border-top: 8px solid #c8eaea;
			// border-bottom: 8px solid #c8eaea;
			h2 {
				color: #fff;
				font-size: 40px;
			}
			h4 {
				color: #00adef;
				font-size: 18px;
				font-family: @font;
				font-weight: 300;
			}
			.padme {
				margin: 25px;
				button {
					margin-top: -20px;
				}
			}
			.notify {
				margin-top: 20px;
			}
		}
	}
	.image-bordered {
		border: 8px solid @blue;
		max-width: 100%
	}
	.entry-content {
		padding: 20px 0 0 0;

		.bullets {
			li {
				font-size: 20px;
				font-family: helvetica;
				font-weight: 100;
				line-height: 170%;
			}
		}
		p {
			font-size: 16px;
			margin-bottom: 24px;
		}
		.spacer {
			height: 20px;
		}
	}

	.white-box {
		min-height: 300px;
		padding: 50px;
		h2 {
			font-size: 42px;
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			font-size: 20px;
		}
	}
	.sponsors-home {
		text-align: center;
		h3 {
			margin:25px auto 5px auto;
		}
		img {
			margin:5px auto
		}
	}
}

ul.recent-posts {
	li {
		p {
			font-size:14px !important;
			font-weight: lighter !important;
			a {
				color: darken( @blue, 50% );
			}
		}
	}

	.recent-posts p a {color:#ED1B24;font-weight:bold !important;}
}
