.home {
	.call-box {
		padding: 50px 0 50px;
		background-color: #E3FCFC;
		text-align: center;
		border-top: 8px solid #c8eaea;
		border-bottom: 8px solid #c8eaea;
		h2 {
			color: #0181b2;
			font-size: 40px;
		}
		h4 {
			color: #00adef;
			font-size: 18px;
			font-family: @font;
			font-weight: 300;
		}
		.padme {
			margin: 25px;
			button {
				margin-top: -20px;
			}
		}
		.notify {
			margin-top: 20px;
		}
	}
	.photo-bar {
		height: 465px;
		background-image: url('../img/landing-banner.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #3b8caa;
		margin-top: -148px;
		h1 {
			font-size: 70px;
			margin-top: 170px;
			color: #fff;
		}
		h2 {
			color: #fff;
		}
		text-align: center;
	}
	.image-bordered {
		border: 8px solid @blue;
		max-width: 100%
	}
	.entry-content {
		padding: 50px 0;
		h2 {
			font-size: 36px;
		}
		.bullets {
			li {
				font-size: 20px;
				font-family: helvetica;
				font-weight: 100;
				line-height: 170%;
			}
		}
		p {
			font-size: 16px;
			margin-bottom: 24px;
		}
		.spacer {
			height: 20px;
		}
	}
	.red-banner {
		border-bottom: 8px solid #AC6167;
		img {
			max-width: 100%;
		}
	}
	.white-box {
		height: 300px;
		padding: 50px;
		h2 {
			font-size: 42px;
			text-align: center;
		}
		p {
			font-size: 20px;
		}
	}
}