// Seconday Navigation list-style-position: 
.secondary-nav-area {
color:#fff;
font-family: bentonsanscompmedium, helvetica, sans-serif !important;
text-transform: uppercase;
font-size: 22px;
font-weight: bold;

.nav-item {
background-color: #ccc;
border:3px solid #fff;
padding:5px 15px;
}

.nav-item.active {
	background-color:red;
	a:link: color:#fff !important ;
	}
}

.menu-menu-1-container {display:none;}

.navbar-nav {float:right !important;}

 @media (max-width: 765px) {
 	#masthead {
 		margin:0 !important;
 	}
 	
 	.site-branding {
 		margin-left:-35px !important;
 		margin-top:5px !important;
 	}

#menu-menu-1 {
	width:100%;
	text-align: center;
	ul {
		width:100%;
		text-align: center;
		border:none;
		li {
		width:100%;
		text-align: center;
		}
	}
}
 }
