// Seconday Navigation list-style-position: 
.secondary-nav-area {
color:#fff;
font-family: bentonsanscompmedium, helvetica, sans-serif !important;
text-transform: uppercase;
font-size: 22px;
font-weight: bold;

.nav-item {
background-color: #ccc;
border:3px solid #fff;
padding:5px 15px;
}

.nav-item.active {
	background-color:red;
	a:link: color:#fff !important ;
	}
}

.menu-menu-1-container {display:none;}

.navbar-nav {float:right !important;}

 @media (max-width: 765px) {
 	#masthead {
 		margin:0 !important;
 	}
 	
 	.site-branding {
 		margin-left:-35px !important;
 		margin-top:5px !important;
	 		img {
	 			height:auto !important;
		 		width:auto !important;
		 		margin-top:0 !important;
	 		}
 	}

#menu-menu-1 {
	width:100%;
	text-align: center;
	ul {
		width:100%;
		text-align: center;
		border:none;
		li {
		width:100%;
		text-align: center;
		}
	}
}
 }
 
 // Seconday Navigation
 
 .nav-tabs {		
border-bottom: 0px;		
text-align: center;		
text-transform: uppercase;		
font-weight: bold;		
}	
.nav.nav-tabs li {		
background-color: #DBDBDB;		
outline: 0px;		
margin: 0px !important;		
}	
		
.nav.nav-tabs li.active {		
outline: 0px;		
background-color: #ED1B24;		
}	
		
.nav.nav-tabs li.active a {		
background-color: #ED1B24;		
}	
.nav.nav-tabs li a {		
outline: 0px;			
background-color: transparent;		
color: #02394F;		
font-weight: normal;		
}	
	
.nav.nav-tabs li a:hover {		
outline: 0px;	
background-color: transparent;		
}	
		
.nav.tabs-nav {		
float: none;		
margin: 0;		
}	
		
.nav.tabs-nav .nav-item {		
background-color: #DBDBDB;		
text-align: center;		
border: 3px solid #fff;		
padding: 5px 15px;		
}	
			
.nav.tabs-nav  .nav-item.active {		
background-color: #ED1B24;		
color:#fff !important;		
}	
	
.nav.tabs-nav  .nav-item.active a:link {		
color:#fff !important;		
}

.nav-tabs {margin-bottom:30px;}
.nav-tabs {
	margin-bottom:30px !important;
}

.nav-tabs h2.subtitle {
	margin:0 !important;
	font-size:27px !important;
	line-height:32px !important;
}

.dropdown-menu > .active > a{
	background-color:#FFFFFF;
}

#masthead #site-navigation ul li a:first-child {
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	backround-color:#e7e7e7;
}

#masthead #site-na1vigation ul li a {
  color: #ed1b24;
  padding: 0px;
}

#site-navigation a:hover {
	color:#ed1b24 !important;
}

.no-cursor > a {
	cursor: default;
}

 @media (max-width: 992px)  {
 	#site-navigation { margin-top:0px;}
 	#masthead #site-navigation ul li , #masthead #site-navigation ul li a {
 font-size:21px !important;		
 	}
 	
 }

