
// Schedule page-break-inside: 

.page page-id-951{
	.entry-header {
		.nav-tabs {
			width:100%;
		}
	}
}

// SESSIONS PAGE
.sessions-block {
}

.session-time {
	padding-left:0px !important;
	font-weight:bold !important;
}

// Tabs Override of Bootstrap
// -------------------------

.page-id-951 {
.nav.nav-tabs li {
	margin:0 !important;
	border:2px solid #fff !important;
	}
}

// HOME PAGE

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	#masthead {
		.site-branding {
			margin-top:20px;
		}
	}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
.home a.button {
	width:100% !important;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { .home a.button {
	width:100% !important;
}}
