@light-blue: #E0FCFC;

// Colors for the agenda page
@teal: #4E9192;
@orange: #F9CA9C;
@green: #B6D7A8;
@yellow-bg: #F5DB93;
@blue-bg: #8CB4E1;
@grey: #B7B7B7;
@red: #ED1B24;
@purple: #7F64A1;

.page-id-20 {
	.entry-content {
		p {
			margin-bottom: 30px;
		}
		.overview-left {
			margin-right: 20px;
			float: left;
			width: 240px;
			height: auto;
			&.overview-300 {
				width: 300px;
			}
			&.overview-380 {
				width: 380px;
			}
		}
	}
}

// Agenda page table
.page-id-21 {
	.entry-content table {
		p {
			font-size:12px;
			margin:0px;
			padding:3px;
		}
	}
}

.entry-content {
	color: #02394f;
	font-family: @font;
	p {
		font-size: 16px;
	}
	h3 {
		color: darken(@blue, 10%);
		margin-bottom: 10px;
		font-size: 26px;
	}
}

.table {
	margin: 20px 0;
	tbody {
		tr {
			margin-bottom: 10px;
			td {
				text-align: left;
				vertical-align: middle;
				border: 0px;
				&.blurb {
					background-color: rgba(224, 252, 252, 0.5);
					padding: 10px 10px 10px 10px;
					font-size: 16px;
				}
				&.teal {
					background-color: @teal;
				}
				&.orange {
					background-color: @orange;
				}
				&.green {
					background-color: @green;
				}
				&.yellow {
					background-color: @yellow-bg;
				}
				&.blue-bg {
					background-color: @blue-bg;
				}
				&.grey {
					background-color: @grey;
				}
				&.red {
					background-color: @red;
				}
				&.purple {
					background-color: @purple;
				}
				&.time {
					color: #ed1b24;
					font-size: 24px;
					text-transform: uppercase;
					padding: 10px 10px 10px 0px;
					width: 120px;
					text-align: left;
					font-family: @heading;
				}
				&.break {
					background-color: #63ABED;
					color: #fff;
				}
			}
		}
	}
}

//Make Sponsor Page Pretty

.sponsorship {
	color:#145a60;
  h2 {
  	margin: 10px auto;
  	color:#FF0000;
  	  span {
  	  	font-family: arial, sans-serif;
  	  	font-size:21px;font-weight:100;
  	  }
  }
  ul {
  	padding-left:0;
  	color:#00ADDC;
	list-style: none;
	}

ul li:before {
		content: "\00BB \0020";
	     }
}

.modal-footer button {margin-top:20px;}
