@light-blue: #E0FCFC;

// Colors for the agenda page
@teal: #4E9192;
@orange: #F9CA9C;
@green: #B6D7A8;
@yellow-bg: #F5DB93;
@blue-bg: #8CB4E1;
@grey: #B7B7B7;
@red: #ED1B24;
@purple: #7F64A1;

h1.entry-title{
	font-size:34px;
	line-height: 40px;
}

.sessions-list-area .session-author {
	font-weight: bold;
	.schedule-auth-sub {
		font-weight: 300;
	}
}

.page-id-20 {
	.entry-content {
		p {
			margin-bottom: 30px;
		}
		.overview-left {
			margin-right: 20px;
			float: left;
			width: 240px;
			height: auto;
			&.overview-300 {
				width: 300px;
			}
			&.overview-380 {
				width: 380px;
			}
		}
	}
}

// Agenda page table
.page-id-21 {
	.entry-content table {
		p {
			font-size:12px;
			margin:0px;
			padding:3px;
		}
	}
}

.entry-content {
	color: #02394f;
	font-family: @font;
	h3 {
		color: darken(@blue, 10%);
		margin-bottom: 10px;
		font-size: 26px;
	}
}

.table {
	margin: 20px 0;
	tbody {
		tr {
			margin-bottom: 10px;
			td {
				text-align: left;
				vertical-align: middle;
				border: 0px;
				&.blurb {
					background-color: rgba(224, 252, 252, 0.5);
					padding: 10px 10px 10px 10px;
					font-size: 16px;
				}
				&.teal {
					background-color: @teal;
				}
				&.orange {
					background-color: @orange;
				}
				&.green {
					background-color: @green;
				}
				&.yellow {
					background-color: @yellow-bg;
				}
				&.blue-bg {
					background-color: @blue-bg;
				}
				&.grey {
					background-color: @grey;
				}
				&.red {
					background-color: @red;
				}
				&.purple {
					background-color: @purple;
				}
				&.time {
					color: #ed1b24;
					font-size: 24px;
					text-transform: uppercase;
					padding: 10px 10px 10px 0px;
					width: 120px;
					text-align: left;
					font-family: @heading;
				}
				&.break {
					background-color: #63ABED;
					color: #fff;
				}
			}
		}
	}
}

//Make Sponsor Page Pretty

.sponsorship {
	color:#145a60;
	h2 {
		margin: 10px auto;
		color:#FF0000;
		span {
		  	font-family: arial, sans-serif;
		  	font-size:21px;font-weight:100;
		}
	}
  	ul {
	  	padding-left:0;
	  	color:#00ADDC;
		list-style: none;
	}

	ul li:before {
			content: "\00BB \0020";
	}
}

.modal-footer button {
	margin-top:20px;
}

// Videos Page

.video-box {
	border: 3px solid @blue;
	margin-bottom:5px;
}

p.video-info {
	font-size:16px;
	line-height: 18px;
	font-weight:bold;
	margin-bottom:20px;
}

.video { 
	position: relative; 
}

.video a {
   position: absolute;
   display: block;
   background: url(url_to_play_button_image.png);
   height: 40px;
   width: 40px;
   top: 20px;
   left: 20px;
}



.top-navbar {
	ul.nav {
		background-color: #ccc;
		color:@blue;
		margin-bottom:30px;
		
		h2.subtitle {
			font-size:24px !important; 
			margin:0px;
			padding:10px;
			a:link, a:visited {
				color:@blue;
			}
		}

		li {
			border-left:3px solid #fff;
			padding: 15px auto;
		}
		
		li.active {
			color:#fff;
			background-color: #FFF;
			h2.subtitle {
				a:link, a:visited {
					color: #fff;
				}
			}
		}
	}
}
 
.top-navbar ul.nav li.active,
.sub-nav .top-navbar ul.nav li.active {
	background-color: @red;
}


.modal-body {
text-align: center;

iframe {
	border:5px solid #02394F;
	padding:0;
	height:361px;
	width:100%;
}
}

h2.subtitle {
	font-family:@subtitle !important;
	color:@blue !important;
	font-size:34px;
	line-height: 40px;
}

// Attend/Registration Page

.google-maps {
	border: 3px solid #02394f;
	position: relative;
	padding-bottom: 25%;
	overflow: hidden;
	 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
	
	// Speakers page-break-inside: 
	.page-id-788 {
		.attachment-makercon-thumbnail, .attachment-small-thumbnail {
	border: 3px solid #02394f;
		}
		.entry-content h3 {
			color:#ED1B24;
			font-size:20px;
			margin:0;
		}
		.lead {
			margin-bottom:0px;
		}
	}

.google-maps {
	position: relative;
	padding-bottom: 25%;
	margin-bottom: 30px;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.page-id-832 .entry-title,.page-id-505 .entry-title {
	display: none;
}

/*TRACKS PAGE*/
.secondary-nav-area {
	color: #fff;
	font-family: fbentonsanscompmedium, "alternate-gothic-no-3-d-n4", helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

.secondary-nav-area .nav-item {
	background-color: #ccc;
	border: 3px solid #fff;
	padding: 5px 15px;
}

.secondary-nav-area .nav-item.active {
	background-color: red;
}

.secondary-nav-area .nav-item.active a:link, .secondary-nav-area .nav-item.active a:visited {
	color: #fff !important;
}

// SESSIONS PAGE
.sessions-block {
	margin:auto;
}

.session-time {
	padding-left:0px !important;
	font-weight:bold !important;
}

.sessions-wrap-days {
	background-color:#bbe6f5;
	margin-bottom:15px;
}

.sessions-no-event {
	background-color:transparent !important;
	border:1px solid #bbe6f5;
	margin-bottom:15px;
}

.sessions-wrap {
	background-color: #bbe6f5;
	color: #0074a0;
	margin-bottom: 8px;
	min-height: 50px;
	padding-top: 10px;
}

.sessions-wrap a:link, .sessions-wrap a:visited {
	color: #ED1B24;
}

.sessions-page {
	padding:5px 0px;
}

h2.session-title {
	font-size: 20px;
	line-height: 24px;
	color: #0074a0;
	margin: 0;
}

h2.session-title a:link,
h2.session-title a:visited {
	font-size: 20px;
	color: #0074a0;
}

.track-info {
	margin-bottom: 20px;
}

.session-author, .session-author a:link, .session-author a:visited {
	color: #02394f;
}

.track-info-area {
	padding-top: 15px;
}

// Seconday Navigation list-style-position: 
.secondary-nav-area {
	color: #fff;
	font-family: fbentonsanscompmedium, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

.secondary-nav-area a:link, .secondary-nav-area a:visited {
	color: #02394f;
}

.secondary-nav-area ul {
	text-align: center;
	list-style-type: none;
	margin: none;
	padding: none;
}

li.nav-item {
	list-style-type: none;
	background-color: #ccc;
	padding: 5px 15px;
	margin: 0 auto;
	color: #fff;
	font-family: bentonsanscompmedium, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

li.nav-item.active {
	background-color: red;
	color: #fff;
}

.attachment-small-thumbnail {
	border: 3px solid #02394f;
}

.entry-meta {
	background-color: transparent;
	border-top: none;
}

.screen-reader-text {
	text-indent: 9999px;
}

h1,h2,h3,h4,h5 {
	margin-top: 0;
}

.post-22 h1:first-child {
	display: none;
}

div.speaker-name-title p,
div.speaker-subtitle,
h3.speaker-subtitle {
	font-family: fbb0kysgnjregular, helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 12px;
	font-weight: bold;
}

ul.featured-speakers {
	list-style-type: none;
	.speaker-image {
		display: inline;
		img {
			border-radius: 125px;
		}
	}
	.speaker-info {
		display: inline;
		.speaker-name-bio {
			display: inline-block;
			color: @dark-grey;
			.speaker-box-name {
				font-weight: bold;
			}
		}
	}
}

p.session-author a {
	padding-right: 8px;
}

h1.entry-title {
	font-size: 34px;
	font-weight: 500;
	color: #02394f;
}

h2.subtitle {
	font-size: 34px;
	font-weight: 500;
	color: #02394f;
}

// Hide sponsors in footer
.page-id-763 .sponsors, 
.page-id-1331 .sponsors  {
	display:none !important;
}

.parent-pageid-1160 .top-navbar ul.nav li.active {
	background-color: #FA5252;
}

.sponsors {
	  border-top: 1px solid #999;
	  padding-bottom:30px;
}

.sponsors .row {
	margin-top: 30px;
}

// Carousel Plugin
.carousel-caption h4 {
	display:none;
}

// Video Archive page-break-inside: 
.video-archive {
	margin-bottom:30px;
}

//Youtube play button class, put on img element. Add the play button on images.
.yt-play-btn {
  width: 75px;
  position: absolute;
	top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// Video and slideshow pages

.yt-play-btn {
	padding-right: 5px;
}

.page-id-2774 .top-navbar ul.nav, 
.page-id-2782 .top-navbar ul.nav {
	height: 60px;
	margin-bottom: 0;
}

.page-id-2774 .sponsors {
	margin-top: 30px;
}
