// Bring in Bootstrap
@import "/bootstrap/bootstrap.less";
//@import "bootstrap/responsive.less";

@the-border: 		1px;
@link-color: 		#005d8f;
@red:        		#ed1c24;
@bg-color:   		#f3f3f3;
@border-color: 		#cecece;
@grey: 				#02394f;
@headings-color:	#00adef;
@light-grey:		#cdcdcd;
@font:				Helvetica,sans-serif;
@blue:              #145A60;
@heading: 			"alternate-gothic-no-3-d";


// Bring in MakerCon Styles.
@import "/makercon/base.less";
@import "/makercon/mixins.less";
@import "/makercon/makercon.less";
@import "/makercon/header.less";
@import "/makercon/navigation.less";
@import "/makercon/footer.less";
@import "/makercon/sidebar.less";
@import "/makercon/home.less";
@import "/makercon/buttons.less";
@import "/makercon/print.less";
@import "/makercon/single.less";